{% extends"base_adm.html" %}

{% block content %}
<body>
    <div class="first-page">
        <div class="body-left-first">
            <div class="top">
                <div class="text-top">
                    <div>Bem-vindo, administrador! </div>
                </div>
            </div>
            
            <div class="middle">
                <div class="text-middle">Permissão para listagem, edição e remoção de usuários, sensores e atuadores.
                </div>
            </div>
        </div>
        <div class="body-right-first">
            <div class="img-computer"><img src="../static/img/computer.png"></div>
        </div>
    </div>
    
</body>

{% endblock %}