<html>
    <head>
        {% block title %}<title>Página Inicial</title>{% endblock %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    </head>

    <body>
        <div class="navbar">
            <div class="inicio">
                <a href="http://localhost:8080#first-page">Início</a>
            </div>
            <div class="pesquisa">
                <a href="#second-page">Pesquisa</a>
            </div>
            <div class="projeto">
                <a href="#third-page">IntelliRisk</a>
            </div>

            <div class="login">
                <a href="http://localhost:8080/login">Login</a>
            </div>
        </div>

        <div class="body-web">
            <div class="first-page" id="first-page">
                <div class="body-left-first">
                    <div class="img-left"><img src="../static/img/mosquito.png"></div>
                </div>
                <div class="body-right-first">
                    <div class="top">
                        <div class="text-top">
                            <div class="text-up"> <img src="../static/img/icon.png"> <div class="text">IntelliRisk</div></div>
                            <div class="text-down"> Monitoramento Inteligente de Risco Epidêmico de Dengue</div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="middle">
                        <div class="text-middle">Você sabia que as condições climáticas afetam diretamente o risco epidêmico de Dengue em regiões específicas?</div>
                    </div>
        
                    <div class="bottom">
                        <a href="#second-page"><div class="button" value="button">Entenda sobre</div></a>
                    </div>
                </div>
            </div>
    
            <div class="second-page" id="second-page">
                <div class="body-left-second"> 
                    <div class="tittle-search">Condições climáticas e surtos epidêmicos de Dengue</div>
                    <div class="text-search">Estudos realizados em áreas endêmicas de Dengue, 
                        como no sudeste asiático e América Latina, têm revelado uma forte correlação entre as condições climáticas 
                        e a incidência da doença. Por exemplo, uma pesquisa conduzida pelo Instituto Nacional de Pesquisas Espaciais 
                        (INPE) em várias cidades do Brasil constatou que um aumento de 1°C na temperatura média está associado a um 
                        aumento de aproximadamente 10% na incidência de casos de Dengue. Além disso, análises de longo prazo em regiões 
                        tropicais mostraram que períodos de alta umidade relativa do ar, geralmente acima de 70%, estão consistentemente 
                        ligados a surtos significativos de Dengue. </div>
                    <div class="text-search"> Em estudos de campo realizados pelo Instituto Oswaldo Cruz, foram 
                        observadas taxas de reprodução dos mosquitos vetores da Dengue até três vezes maiores em ambientes com 
                        temperaturas médias superiores a 25°C e umidade relativa do ar acima de 60%, em comparação com ambientes 
                        mais frios e secos. Esses dados evidenciam a influência direta das condições climáticas na transmissão da Dengue 
                        e destacam a importância de estratégias de controle que considerem esses fatores ambientais.</div>
                </div>
                <div class="body-right-second">
                    <div class="img-seasons"><img src="../static/img/estacoes.png"></div>
                </div>
            </div>
    
            <div class="third-page" id="third-page">
                <div class="body-left-third"> 
                    <div class="tittle-project">Projeto de medição de temperatura e umidade</div>
                    <div class="text-project">O IntelliRisk é um sistema de monitoramento inteligente de risco de surtos epidêmicos de dengue. Mas enfim, o que isso faz?  </div>       
                    <div class="text-project">O Aedes Aegypti, mosquito transmissor da dengue e outras doenças, é tipicamente tropical e se prolifera com mais intensidade em estações mais quentes por conta das altas temperaturas e alta umidade. 
                        Foi levando isso em consideração que criamos o IntelliRisk! Nossa torre realiza medições periódicas de temperatura e umidade do ambiente a partir de um sensor DHT11 e, a partir dos resultados, sinaliza o nível de risco de proliferação do mosquito naquela região. 
                    </div>
                    <div class="text-project"> Os resultados são apresentados em um pequeno semáforo de leds que indica o nível de risco, verde para baixo, amarelo para médio e vermelho para alto. Além disso, temos um display LCD que irá apresentar, por texto, qual a situação. 
                        Dessa forma, queremos minimizar a proliferação do mosquito, ajudando a população a se prevenir e evitar a propagação das doenças, como a dengue, disseminadas por eles!</div>
                </div>
                <div class="body-right-third">
                    <div class="img-project"><img src="../static/img/mulher.png"></div>
                </div>
            </div>

            <div class="fourth-page" id="fourth-page">
                <div class="body-left-fourth"> 
                    <div class="kit">
                        <div class="top">
                            <div class="tittle-project">Kit Inicial:</div>
                        </div>
                        <div class="text-project"> Kit de inicialização Esp32: R$78,00  </div>       
                        <div class="text-project"> Sensor DH11: R$16,50 </div>
                        <div class="text-project"> ⁠Display LCD OLED SSD1306 1.3 polegadas:  R$28,40 </div>
                        <div class="total-project"> 
                            <div class="total">TOTAL:</div> 
                            <div class="total-bottom">R$122,90 </div>
                        </div>
                    </div>
            
                </div>
                <div class="body-right-fourth">
                    <div class="kit">
                        <div class="top">
                            <div class="tittle-project">Kit Premium:</div>
                        </div>
                        <div class="text-project"> Kit de incialização Esp32: R$78,00 </div>       
                        <div class="text-project"> Sensor BME280: R$37,50 </div>
                        <div class="text-project"> Display LCD ILI9341 de 2.4 a 2.8 polegadas: R$40,00 </div>
                        <div class="total-project"> 
                            <div class="total">TOTAL:</div> 
                            <div class="total-bottom">R$155,50</div>
                         </div>
                    </div>                
                </div>
            </div>
        </div>

        {% block content %} {% endblock %}
        
    </body>
</html>