<html>
    <head>
        {% block title %}<title>Página Inicial</title>{% endblock %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/login_invalido.css"/>
    </head>

    <body>
        <div class="texto_inicio">
        <h1>Login Inválido!</h1>
        <p> Não há nenhum registro com essas informações. <a href="/login"> Tente novamente </a> ou fale com o Administrador. </p>
        <p> A IntelliRisk agredece sua atenção ;)</p>

        </div>
    </body>
</html>