{% extends"base_usuarios.html" %}
{% block content %}
<body>
    <div class="first-page">
        <div class="body-left-first">
            <div class="top">
                <div class="text-top">
                    <div>Bem-vindo, operador!</div>
                </div>
            </div>
            
            <div class="middle">
                <div class="text-middle">Acesso aos comandos remotos. Aqui na área do operador, 
                    você pode visualizar os dados históricos de atuações remotas
                    do <a>Intellirisk</a>!
                </div>
            </div>
        </div>
        <div class="body-right-first">
            <div class="img-left"><img src="../static/img/searcher.png"></div>

        </div>
    </div>
    
</body>

{% endblock %}