{% extends "base_login.html" %}
{% block content %}

            <h1>Cadastro</h1>

            <form action= "http://localhost:8080/add_user" method= "POST">
                
                    <div class = "input">
                        <input type = "text" name = "username" placeholder="Nome" required/>
                        <input type = "text" name = "email" placeholder="E-mail" required/>
                        <input type = "password" name = "password" placeholder="Senha" required/>
                        <select name="role_type_">
                            {% for role in role %}
                                <option>{{role.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
              
                <div class="botao">
                    <p><input type="submit" value = "Cadastrar" class="botao" /></p>
                </div>
            </form>
{% endblock %}